*{
  box-sizing: border-box;
}
.home{
  width: 80%;
  margin: auto;
}
#akanbutn{
  position: relative;
  top:-60px;
}
.logo{
  justify-content: space-between;
  align-items: center;
  border: none;
}
#navButton{
  position: relative;
  top:-50px; 
  right: 40px ;
}
.logo p{
 font-size: 36px;
 font-family: 'Oleo Script Swash Caps', cursive;
 position: relative;
 left:50%;
 top:-80px;
}
#culture-text{
  text-align: center;
  position: relative;
  left: 10%;
}
.akanInfo h2{
  font-family: 'Noto Serif', serif;
  color: #362D5A;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
.akanInfo p{
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.row{
  position: relative;
  top:-50px;
}
.row img{
  position: relative;
  right:40px;
  border-radius: 20px;
}
.form{
  margin-top: 20px;
  border: 2px solid white;
  background-image: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.5)), url(images/ghana.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  text-align: center;
  padding: 100px 400px;
  color: white;
}
#formValues > button{
  padding:10px 40px;
}
#akanName{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: #c8bef0;
  width: 100%;
  transition:3s;
  font-weight: bold;
}
a{
  color: white;
  text-decoration: none;
}
.text-center{
  background-color: rgba(0, 0, 0, 0.2);
}
i{
  position: relative;
  top:-50px;
}