*{
  box-sizing: border-box;
}
body{
  margin: 80px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.7)), url(images/bg2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  text-align: center;
  padding: 100px 0;
}
.description{
  position: absolute;
  top:0;
}
form{
  width: 80%;
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
}
